.sectionHeader{
    text-align: center;
}

.headerWrap{
    position: fixed;
    z-index: 100;
    width: 90%;
    margin: 0 auto;
    left: 0;
    right: 0;
    padding: 21px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.headerMenu{
    height: 50px;
    line-height: 50px;
}

.headerMenu::before{
    content: "";
    display: inline-block;
    width: 27px;
    height: 10px;
    margin-right: 10px;
    background-image: url(/public/images/mian_menuBar.png);
    background-size: cover;
}

.mainMenuBar{
    vertical-align:middle;
    margin-right: 10px;
}

.headerBag span{
    border: 1px solid white;
    padding: 1px 6px;
    border-radius: 50%;
}

.sectionHeader ul{
    border: 10px solid red;
    width: 500px;
    height: 500px;

}