.sectionHeader{
    text-align: center;
    color: #ffffff;
}

.headerWrap{
    position: fixed;
    z-index: 1;
    background: none;
    /* background-color: #ebebeb; */
    width: 95%;
    margin: 0 auto;
    padding: 21px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerMenu{
    height: 50px;
    line-height: 50px;
}

.headerMenu::before{
    content: "";
    display: inline-block;
    width: 27px;
    height: 10px;
    margin-right: 10px;
    background-image: url(/public/images/mian_menuBar.png);
    background-size: cover;
}

.mainMenuBar{
    vertical-align:middle;
    margin-right: 10px;
}

.headerBag span{
    border: 1px solid white;
    padding: 1px 6px;
    border-radius: 50%;
}
